.addTask {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.inputWrap {
    width: 80%;
}

.inputWrap input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
}

.buttonWrap {
    width: 20%;
}

.buttonWrap button {
    width: 100%;
    height: 100%;
    text-align: center;
}