.main {
  background-color: #fff;
  min-height: 100vh;
  border: 1px solid #fff;
}

.wrap {
  width: 40%;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 80%;
  }
}

.title {
  text-align: center;
}